.categories {
    background-color: rgb(226, 246, 185);
    height: 150px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;

    > div.category-card {
        transition: all 0.3s ease;
        &:hover {
            background-color: rgb(193, 228, 124);
        }

        &:first-of-type {
            border-right: 1px solid rgba(0,0,0,0.5);
        }
    }

    > div.category-card-selected {
        background-color: rgb(115, 151, 43);
        color: white;

        &:hover {
            background-color: rgb(115, 151, 43);
        }
    } 
}

@media screen and (max-width: 1600px) {
    .categories {
        height: 125px;
    }
}

@media screen and (max-width: 1200px) {
    .categories {
        height: 100px;
    }
}

@media screen and (max-width: 360px) {
    .categories {
        height: 80px;
    }
}