.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px 40px;
    justify-items: center;
    margin: 40px 0;
}

@media screen and (max-width: 1600px) {
    .products-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 40px 20px;
    }
}

@media screen and (max-width: 1200px) {
    .products-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 40px 20px;
    }
}

@media screen and (max-width: 520px) {
    .products-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 360px) {
    .products-container {
        gap: 24px 12px;
    }
}

.loading-products {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}